.p-galleria-mask {
  --maskbg: rgba(0, 0, 0, 0.95);
}

.p-galleria-content {
  height: 100%;
}

.p-galleria-item-wrapper {
  flex-grow: 1;
}

.p-galleria-thumbnail-container {
  justify-content: center;
}

.p-galleria-thumbnail-container,
.p-galleria-thumbnail-items-container,
.p-galleria-thumbnail-items {
  -webkit-tap-highlight-color: transparent;
}

.p-galleria-thumbnail-item {
  overflow: hidden;
  flex: 0 0 auto !important;
}
.p-galleria-thumbnail-item-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.p-galleria-close {
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
.p-galleria-close .p-galleria-close-icon {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem !important;
  height: 2.4rem !important;
  font-size: 1.7rem !important;
}
.p-galleria-item {
  flex-direction: column;
}
.p-galleria-item-nav {
  -webkit-tap-highlight-color: transparent;
}
.p-galleria-item-nav span,
.p-galleria-close .p-galleria-close-icon {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 50%;
}

.p-galleria-item-prev {
  margin-left: -15px;
}
.p-galleria-item-next {
  margin-right: -15px;
}

@media (max-width: 1024px) {
  .p-galleria-item-prev-icon,
  .p-galleria-item-next-icon,
  .p-galleria-close .p-galleria-close-icon {
    font-size: 1.4rem !important;
  }

  .p-galleria-close {
    width: 3rem;
    height: 3rem;
  }
}
