.p-fieldset {
  background-color: rgba(0, 0, 0, 0.45) !important;
  border: 0;
}
.p-fieldset-legend {
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 1) !important;
}
.p-fieldset-content {
  padding: 0 !important;
}
